name: Node.js CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted  # This uses the runner you already started on AWS

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: npm install

    - name: Create .env file
      run: |
        cat <<EOF > .env
        ${{ secrets.PROD_ENV_FILE }}
        EOF

    - name: Start or Restart Application
      run: |
        # This command ensures the app keeps running via PM2
        pm2 restart aoa-backend || pm2 start server.js --name "aoa-backend"
